{# encoding: utf-8 #}
{% extends "base.html" %}
{% load mptt_tags %}

{% block content %}

<h3>
{% for dir in directory.get_ancestors %}
	<a href="{% url 'archive' dir.pk %}">{{ dir.name }}</a> >
{% endfor %}
<a href="{% url 'archive' directory.pk %}">{{ directory.name }}</a>

</h3>

<p>
<b>Pastaba.</b> Archyvas kol kas dar nėra pilnai baigtas. Pavyzdžiui, gali būti problemų su uždaviniais, kuriuose atsakymas nėra vienareikšmis.
Jei susidursite su problemomis, užregistruokite tai (tik prieš tai patikrinkite jau užregistruotų klaidų sąrašą, kad išvengtume pasikartojimų).
</p>
<ul>
<li>Užregistruotų klaidų sąrašas: <a href="https://bit.ly/2kyPc0l" target="_blank">https://bit.ly/2kyPc0l</a></li>
<li>Klaidų registravimo forma: <a href="https://bit.ly/2lO2ENY" target="_blank">https://bit.ly/2lO2ENY</a></li>
</ul>

{% with directory.get_children as children %}
	{% if children %}

	<h3>Direktorijos</h3>
	<ul>
	{% for child in children %}
		<li><a href="{% url 'archive' child.pk %}">{{ child.name }}</a></li>
	{% endfor %}
	</ul>

	{% endif %}
{% endwith %}

{% with tasks.all as all_tasks %}
	{% if all_tasks %}
		<h3>Užduotys</h3>
		<ul>
		{% for task in all_tasks %}
			<li><a href="{% url 'task' task.code %}">{{ task.title }}</a></li>
		{% endfor %}
		</ul>
	{% endif %}
{% endwith %}

{% endblock %}
