{# encoding: utf-8 #}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}ŠIOM{% endblock %}</title>
	<link href="{{ MEDIA_URL }}base.css" rel="stylesheet" type="text/css" />
	<link href="{{ MEDIA_URL }}pygments.css" rel="stylesheet" type="text/css" />
	<script defer src="https://cloud.umami.is/script.js" data-website-id="633f856b-026c-4a8a-85ae-46cfe8b8f6f6"></script>
</head>

<body>
	<div id="header">
		{% block header %}
			<a href="{% block logourl %}{% url 'course_index' %}{% endblock %}">
			<img class="logo" src="{{ MEDIA_URL }}vilkas.png" width="133px" height="100px" /></a>
			<h1>Šeštadieninė informatikos olimpiadininkų mokykla</h1>
		{% endblock %}
	</div>

	<div id="menu">
		{% block menubar %}
			<div class="menuitem">
				<a href="{% url 'index' %}">Pradžia</a>
			</div>
			<div class="menuitem">
				<a href="{% url 'course_index' %}">Kursai</a>
			</div>
			<div class="menuitem">
				<a href="{% url 'archive' 1 %}">Archyvas</a>
			</div>
			{% block menuextra %} {% endblock %}

			{% if user.is_authenticated %}
			<div class="menuitem">
				{{ user.first_name }} {{ user.last_name }}
				<a href="{% block logouturl %}{% url 'django.contrib.auth.views.logout' %}?next={{ request.path }}{% endblock %}">Atsijungti</a>
			</div>
			{% else %}
			<div class="menuitem">
				<a href="{% block loginurl %}{% url 'django.contrib.auth.views.login' %}?next={{ request.path }}{% endblock %}">Prisijungti</a>
			</div>
			<div class="menuitem">
				<a href="{% block registerurl %}{% url 'register' %}?next={{ request.path }}{% endblock %}">Registruotis</a>
			</div>
			{% endif %}
		{% endblock %}
	</div>
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>

</body>
</html>
