{# encoding: utf-8 #}
{% extends "base.html" %}

{% block content %}

<div style="clear:both;">&nbsp;</div>

{% for course in active_courses %}
	{% if forloop.first %}
		<p>Aktyvūs kursai:</p>
		<ul>
	{% endif %}
	<li><a href="{% url 'course_home' course.code %}">{{ course.name }}</a></li>
	{% if forloop.last %}</ul>{% endif %}
{% empty %}
	<p>Šiuo metu nėra aktyvių kursų.</p>
{% endfor %}

{% if closed_courses %}
	<p>Kiti kursai:</p>
	<ul>
	{% for course in closed_courses %}
		<li><a href="{% url 'course_home' course.code %}">{{ course.name }}</a></li>
	{% endfor %}
	</ul>
{% endif %}

{% endblock %}
