{# encoding: utf-8 #}
{% extends "base.html" %}

{% block title %}{{ block.super }} &mdash; {{ course.name }}{% endblock %}

{% block logouturl %}{% if not course.open %}{% url 'course_index' %}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block header %}
{{ block.super }}
<h2>{{ course.name }}</h2>
{% endblock %}

{% block menuextra %}
	<div class="menuitem"><a href="{% url 'scoreboard' course.code %}">Rezultatai</a></div>

	{% comment %}
	TODO: remove hardcoded link below
	{% endcomment %}
	{% if course.code|slice:":3" == 'vid' %}
		<div class="menuitem"><a href="/m/t/knyga.pdf">Knyga</a></div>
	{% endif %}
{% endblock %}

