{# encoding: utf-8 #}
{% extends "base.html" %}

{% block content %}

<div style="clear:both;">&nbsp;</div>

<h3>ŠIOM pradeda naujus mokslo metus!</h3>

<p>
  Kviečiame registruotis į Vilniaus universiteto Matematikos ir
  informatikos fakultete organizuojamą Šeštadieninę informatikos
  olimpiadininkų mokyklą (ŠIOM), kurioje ruošime mokinius
  informatikos olimpiadoms.
</p>

<p>
  Užsiėmimai vyks <b>Vilniuje, Vilniaus universiteto Matematikos
  ir informatikos fakulteto kompiuterių klasėse</b>, maždaug du
  kartus per mėnesį šeštadieniais po 4 valandas. Užsiėmimų pradžios
  laiką derinsime taip, kad galėtų atvykti mokiniai iš kitų miestų.
  Anksčiau užsiėmimai prasidėdavo apie 11 val.
</p>

<p>
  Šiemet kviečiame mokytis vienoje iš dviejų grupių:
  <ul>
    <li>
      <b>Vidurinioji grupė</b>: skirta mokiniams, kurie jau turi
      programavimo pagrindus kuria nors programavimo kalba. Šioje
      grupėje susipažinsite su algoritmo sąvoka bei svarbiausiais
      algoritmais, be kurių sėkmingas dalyvavimas informatikos
      olimpiadose yra sunkiai įmanomas. Svarbu pastebėti, kad čia
      stojantys mokiniai <b>jau turėtų turėti programavimo pagrindus</b>
      (idealiu atveju C++ kalba, nes ją naudosime užsiėmimų metu,
      tačiau kitų kalbų mokėjimas taip pat turėtų būti pakankamas).
      Į šią grupę kviečiame visų klasių mokinius, tačiau jei bus
      daug norinčių, prioritetą teiksime 9 ir jaunesnių klasių mokiniams.
    </li>
    <li>
      <b>Pažengusiųjų grupė</b>: skirta mokiniams, kurie turi gerus
      programavimo ir algoritmavimo pagrindus ir turi ambicijų sėkmingai
      pasirodyti ne tik Lietuvos, bet ir tarptautinėse informatikos
      olimpiadose. Norintys patekti į šią grupę turite įsitikinti, kad
      galėsite joje sėkmingai mokytis, t.y. <b>esate susipažinę su
      klasikiniais olimpiadose naudojamais algoritmais</b>. Dalyvavimas LMIO
      finale, Codeforces varžybose ir pan. dažniausiai taip pat yra
      geras indikatorius.
    </li>
  </ul>
</p>

<p>
  Visi stojantys turės laikyti stojamąjį testą, kurio paskirtis - leisti
  jums įsivertinti, ar turite bazines žinias, reikalingas mokytis pasirinktoje
  grupėje. Taip pat, jei užsiregistruos daugiau mokinių nei galime priimti,
  testo rezultatus pasitelksime vykdydami atranką.
</p>

<p>
  Užsiėmimai yra nemokami.
</p>

<p>
  Jeigu esate jaunesnis (-ė) nei 14 metų, anketą pildykite kartu su vienu iš
  tėvų/globėjų ir būtinai anketoje nurodykite bent vieno iš tėvų (globėjų)
  kontaktus.
</p>

<p>
  Registracija vyksta iki <b>rugsėjo 30 d. imtinai</b>. Numatoma, kad
  stojamasis testas vyks <b>spalio 4 d.</b> (laikas dar bus patikslintas
  remiantis registracijos anketomis) nuotoliniu būdu. Kontaktinis el.
  paštas kilus klausimams: <a href="mailto:siom.mokykla@gmail.com">siom.mokykla@gmail.com</a>.
</p>

<p>
  <a href="https://forms.gle/PT224PNonsGVc1Gz6">Registracijos forma</a>.
</p>

{% endblock %}
