{# encoding: utf-8 #}
{% extends "base.html" %}

{% block content %}

<div style="clear:both;">&nbsp;</div>

<h3>Nauji ŠIOM mokslo metai</h3>

<p>
Šiais metais bus aktyvūs 4 ŠIOM kursai - dvi pradedančiųjų grupės (užsiėmimus ves Jūratė ir Vytautas), viena vidurinioji (užsiėmimus ves Kęstutis) ir viena pažengusių (dėstys Domantas ir Justas). Užsiėmimai vyks Vilniaus universiteto Matematikos ir Informatikos fakulteto skaitmeninių tyrimų ir skaičiavimo centre (Šaltinių g. 1A).  <br>
<br>
Užsiėmimų laikai: <br>
<br>
Pradedančiųjų grupė 11:15 - 14:45<br>
Vidurinioji grupė 11:15 - 16:00<br>
Pažengusių grupė 11:15 - 16:00 <br>
<br>
Preliminarus šių kalendorinių metų tvarkaraštis:
</p>
<table>
<thead>
	<tr>
		<th>Pradedančiųjų (Jūratės)</th>
		<th>Pradedančiųjų (Vytauto)</th>
		<th>Vidurinioji</th>
		<th>Pažengusių</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>Sausio 6</td>
		<td>Sausio 20</td>
		<td>Sausio 6</td>
		<td>Sausio 6</td>
	</tr>
	<tr>
		<td>Sausio 20</td>
		<td>Sausio 27</td>
		<td>Sausio 27</td>
		<td>Sausio 20</td>
	</tr>
	<tr>
		<td>Vasario 10</td>
		<td>Vasario 10</td>
		<td>Vasario 10</td>
		<td>Vasario 17</td>
	</tr>
	<tr>
		<td>Vasario 24</td>
		<td>Vasario 24</td>
		<td>Vasario 17</td>
		<td>Vasario 24</td>
	</tr>
	<tr>
		<td>Kovo 10</td>
		<td>Kovo 3</td>
		<td>Kovo 3</td>
		<td>Kovo 10</td>
	</tr>
	<tr>
		<td>Kovo 24</td>
		<td><del>Kovo 17</del></td>
		<td>Kovo 17</td>
		<td>Balandžio 7</td>
	</tr>
	<tr>
		<td>Balandžio 14</td>
		<td>Balandžio 7</td>
		<td>Balandžio 7</td>
		<td><del>Balandžio 21</del></td>
	</tr>
	<tr>
		<td>Balandžio 28</td>
		<td>Balandžio 14</td>
		<td><del>Balandžio 21</del></td>
		<td>Gegužės 12</td>
	</tr>
	<tr>
		<td>Gegužės 5</td>
		<td>Balandžio 21</td>
		<td>Gegužės 5</td>
		<td>Gegužės 26</td>
	</tr>
	<tr>
		<td>Gegužės 26</td>
		<td>Gegužės 5</td>
		<td>Gegužės 26</td>
		<td>Birželio 9</td>
	</tr>
	<tr>
		<td>Birželio 9</td>
		<td>Gegužės 19</td>
		<td>Birželio 9</td>
		<td></td>
	</tr>
	<tr>
		<td> </td>
		<td>Birželio 2</td>
		<td></td>
		<td></td>
	</tr>
</tbody>
</table>
</p>


{% endblock %}
