{# encoding: utf-8 #}
{% extends "base.html" %}

{% block content %}

<div style="clear:both;">&nbsp;</div>

<h3>Užsiėmimų tvarkaraštis</h3>
<ul>
  <li>Spalio 19</li>
  <li>Lapkričio 9</li>
  <li>Lapkričio 16</li>
  <li>Lapkričio 30</li>
  <li>Gruodžio 7</li>
  <li>Gruodžio 14</li>
  <li>Gruodžio 21</li>
  <li>Sausio 11</li>
  <li>Sausio 18</li>
  <li>Sausio 25</li>
  <li>Vasario 8</li>
  <li>Kovo 1</li>
  <li>Kovo 15</li>
  <li>Balandžio 5</li>
  <li>Balandžio 12</li>
  <li>Gegužės 3</li>
  <li>Gegužės 10</li>
</ul>

<!-- <h3>ŠIOM pradeda naujus mokslo metus!</h3>

<p>
  Kviečiame registruotis į Vilniaus universiteto Matematikos ir
  informatikos fakultete organizuojamą Šeštadieninę informatikos
  olimpiadininkų mokyklą (ŠIOM), kurioje ruošime mokinius
  informatikos olimpiadoms.
</p>

<p>
  Užsiėmimai vyks <b>Vilniuje, Vilniaus universiteto Matematikos
  ir informatikos fakulteto kompiuterių klasėse</b>, maždaug du
  kartus per mėnesį šeštadieniais po 4 valandas. Užsiėmimų pradžios
  laiką derinsime taip, kad galėtų atvykti mokiniai iš kitų miestų.
  Anksčiau užsiėmimai prasidėdavo apie 11 val.
</p>

<p>
  Šiemet registruojame norinčius mokytis tik <b>vidurinėje grupėje</b>.
  Šioje grupėje susipažinsite su algoritmo sąvoka bei svarbiausiais
  algoritmais, be kurių sėkmingas dalyvavimas informatikos olimpiadose
  yra sunkiai įmanomas. Svarbu pastebėti, kad į šią grupę stojantys
  mokiniai <b>jau turėtų turėti programavimo pagrindus</b> (idealiu atveju
  C++ kalba, nes ją naudosime užsiėmimų metu, tačiau kitų kalbų mokėjimas
  taip pat turėtų būti pakankamas).
</p>

<p>
  Į vidurinę grupę kviečiame bet kokio amžiaus mokinius, tačiau jei bus daug
  norinčių, prioritetą teiksime 9 ir jaunesnių klasių mokiniams. Norintys
  mokytis turės laikyti stojamąjį testą. Užsiėmimai yra nemokami.
</p>

<p>
  Jeigu esate jaunesnis nei 14 metų, tokiu atveju anketą pildykite kartu
  su vienu iš tėvų/globėjų ir būtinai anketoje nurodykite bent vieno iš
  tėvų (globėjų) kontaktus.
</p>

<p>
  Registracija vyksta iki <b>rugsėjo 30 d. imtinai</b>. Numatoma, kad
  stojamasis testas vyks <b>spalio 6 d.</b> (laikas dar bus patikslintas
  remiantis registracijos anketomis). Kontaktinis el. paštas kilus klausimams:
  <a href="mailto:siom.mokykla@gmail.com">siom.mokykla@gmail.com</a>.
</p>

<p>
  Registracijos forma: <a href="https://forms.gle/STkWbyBMpTZMLczWA">https://forms.gle/STkWbyBMpTZMLczWA</a>.
</p> -->

<!-- <h3>Šiais metais veikiančių grupių informacija</h3>
<table>
  <thead>
    <tr>
      <th>Grupė</th>
      <th>Užsiėmimų laikas</th>
      <th>Dėstytojai</th>
      <th>Kontaktai</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Pradedančiųjų</td>
      <td>10:00 - 13:00</td>
      <td>Gerda Šimoliūnaitė</td>
      <td>sml.gerda@gmail.com</td>
    </tr>
    <tr>
      <td>Vidurinioji</td>
      <td>11:15 - 16:00</td>
      <td>Vytautas Strimaitis</td>
      <td>vstrimaitis@gmail.com</td>
    </tr>
    <tr>
      <td>Pažengusiųjų</td>
      <td>11:00 - 16:00</td>
      <td>Darius Kurtinaitis</td>
      <td>dariuskrtn@gmail.com</td>
    </tr>
  </tbody>
</table> -->

<!--
<h3>Užsiėmimų tvarkaraštis</h3>
<table>
  <thead>
    <tr>
      <th>Vidurinioji</th>
      <th>Pažengusiųjų</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lapkričio 4</td>
      <td>Lapkričio 4</td>
    </tr>
    <tr>
      <td>Lapkričio 18</td>
      <td>Lapkričio 18</td>
    </tr>
    <tr>
      <td>Gruodžio 2</td>
      <td>Gruodžio 2</td>
    </tr>
    <tr>
      <td>Gruodžio 16</td>
      <td>Gruodžio 16</td>
    </tr>
    <tr>
      <td>Sausio 6</td>
      <td>Sausio 6</td>
    </tr>
    <tr>
      <td>Sausio 20</td>
      <td>Sausio 20</td>
    </tr>
    <tr>
      <td>Vasario 17</td>
      <td>Vasario 17</td>
    </tr>
    <tr>
      <td>Kovo 2</td>
      <td>Kovo 2</td>
    </tr>
    <tr>
      <td>Kovo 16</td>
      <td>Kovo 16</td>
    </tr>
    <tr>
      <td>Balandžio 6</td>
      <td>Balandžio 6</td>
    </tr>
    <tr>
      <td>Balandžio 20</td>
      <td>Balandžio 20</td>
    </tr>
    <tr>
      <td>Gegužės 4</td>
      <td>Gegužės 4</td>
    </tr>
    <tr>
      <td>Gegužės 18</td>
      <td>Gegužės 18</td>
    </tr>
    <tr>
      <td>Birželio 1</td>
      <td>Birželio 1</td>
    </tr>
  </tbody>
</table>
-->

<!--
<h3>ŠIOM pradeda naujus mokslo metus!</h3>

<p>
  Kviečiame registruotis į Šeštadieninę informatikos olimpiadininkų
  mokyklą (ŠIOM), kurioje ruošime mokinius informatikos olimpiadoms.
</p>

<p>
  Priklausomai nuo poreikio, užsiėmimai vyks du arba tris kartus per
  mėnesį šeštadieniais. Užsiėmimų pradžios laiką derinsime taip, kad
  jis visiems būtų kuo patogesnis.
</p>

<p>
  Užsiėmimai vyks nuotoliu.
</p>

<p>
  Vieno užsiėmimo trukmė bus iki 2,5 val. Vis dėlto reikia turėti galvoje,
  kad kiekvienam užsiėmimui iš viso reikia būti pasiruošus skirti ne
  mažiau 5 valandų. Taip yra todėl, kad reikės laiko spręsti pateiktus
  uždavinius, kurie padės geriau suprasti išdėstytą medžiagą. Uždavinius
  spręsti galima bet kokiu patogiu laiku tarp užsiėmimų.
</p>

<p>
  Šiemet registruojame norinčius mokytis viduriniojoje arba pažengusiųjų
  grupėje. Kviečiame mokinius iki 12 klasės, kurie jau turi programavimo
  pagrindus kuria nors programavimo kalba. Šiose grupėse programuosime
  C++ kalba.
</p>

<p>
  Mokiniai, norintys mokytis ŠIOM, turės laikyti stojamąjį testą.
  Mokymasis yra nemokamas.
</p>

<p>
  Jeigu esate jaunesnis nei 14 metų, tokiu atveju anketą pildykite kartu
  su vienu iš tėvų/globėjų ir būtinai anketoje nurodykite bent vieno iš
  tėvų (globėjų) kontaktus.
</p>

<p>
  Registracija vyksta iki <b>spalio 8 d. imtinai</b>. Numatoma, kad
  stojamasis testas vyks <b>spalio 14 d. 10:30</b>. Kontaktinis el.
  paštas kilus klausimams:
  <a href="mailto:siom.mokykla@gmail.com">siom.mokykla@gmail.com</a>.
</p>

<p>
  Registracijos forma: <a href="https://forms.gle/frwQLsZJ3RV92ViS7">https://forms.gle/frwQLsZJ3RV92ViS7</a>
</p>
-->

<!--
<h3>Šiais metais vyksiančių užsiėmimų informacija</h3>

<ul>
  <li>Užsiėmimai vyksta šeštadieniais</li>
  <li>Užsiėmimų laikas - nuo 11:00 iki 13:30</li>
  <li>Šiemet užsiėmimai vyksta tik vidurinei grupei</li>
  <li>Vidurinės grupės dėstytojai: Matas Garbaravičius ir Vytautas Strimaitis</li>
</ul>

<h3>Užsiėmimų tvarkaraštis</h3>
<ul>
  <li>Lapkričio 12</li>
  <li>Lapkričio 19</li>
  <li>Lapkričio 26</li>
  <li>Gruodžio 3</li>
  <li>Gruodžio 10</li>
  <li>Gruodžio 17</li>
  <li>Sausio 14</li>
  <li>Sausio 21</li>
  <li>Vasario 4</li>
  <li>Vasario 11</li>
  <li>Kovo 4</li>
  <li>Kovo 18</li>
  <li>Balandžio 1</li>
  <li>Balandžio 22</li>
  <li>Gegužės 13</li>
  <li>Gegužės 27</li>
</ul>

<hr />

<h3>ŠIOM pradeda naujus mokslo metus!</h3>

<p>
  Kviečiame registruotis į Vilniaus universiteto Matematikos ir
  informatikos fakultete organizuojamą Šeštadieninę informatikos
  olimpiadininkų mokyklą (ŠIOM), kurioje ruošime mokinius informatikos
  olimpiadoms.
</p>

<p>
  Užsiėmimai vyks du kartus per mėnesį šeštadieniais. Užsiėmimų pradžios
  laiką derinsime taip, kad jis visiems būtų kuo patogesnis.
</p>

<p>
  Ar užsiėmimai vyks gyvai, ar nuotoliu, dar nėra nuspręsta. Pernai pirmą
  kartą išbandėme nuotolinį užsiėmimų vedimo būdą ir pagrindiniai šio
  formato privalumai yra tai, kad mokymasis lengviau prieinamas mokiniams,
  negyvenantiems Vilniuje, bei nėra griežtos ribos priimamų mokinių
  skaičiui. Nepaisant to, galutinį sprendimą padarysime atsižvelgę į Jūsų
  nuomones ir pasiūlymus.
</p>

<p>
  Priklausomai nuo formato, vieno užsiėmimo trukmė bus arba iki 2,5 val.
  (nuotoliniu būdu), arba iki 5 val. (gyvai). Nors vieno užsiėmimo trukmė
  gali būti 2,5 val., vis dėlto reikia turėti galvoje, kad kiekvienam
  užsiėmimui iš viso reikia būti pasiruošus skirti ne mažiau 5 valandų.
  Taip yra todėl, kad reikės laiko spręsti pateiktus uždavinius, kurie padės
  geriau suprasti išdėstytą medžiagą. Uždavinius spręsti galima bet kokiu
  patogiu laiku tarp užsiėmimų.
</p>

<p>
  Šiemet registruojame norinčius mokytis tik viduriniojoje grupėje.
  Kviečiame mokinius iki 12 klasės, tačiau jei bus daug norinčių ir bus
  pasirinktas gyvas užsiėmimų formatas, prioritetą teiksime 9 ir jaunesnių
  klasių mokiniams. Kviečiame mokinius, kurie jau turi programavimo pagrindus
  kuria nors programavimo kalba. Šioje grupėje susipažinsite su algoritmo
  sąvoka bei svarbiausiais algoritmais, kurie ne tik padės atrasti trumpiausią
  ieškomą kelią žemėlapyje ar greičiausiai surikiuoti duomenis, bet ir be
  kurių sėkmingas dalyvavimas informatikos olimpiadose yra neįmanomas. Šioje
  grupėje programuosime C++ kalba.
</p>

<p>
  Norintys mokytis vidurinėje grupėje turės laikyti stojamąjį testą. Mokymasis
  yra nemokamas.
</p>

<p>
  Jeigu esate jaunesnis nei 14 metų, tokiu atveju anketą pildykite kartu su
  vienu iš tėvų/globėjų ir būtinai anketoje nurodykite bent vieno iš tėvų
  (globėjų) kontaktus.
</p>

<p>
  Registracija vyksta <b>iki spalio 31 d. imtinai</b>. Numatoma, kad stojamasis testas
  vyks <b>lapkričio 5 d. 10:30</b>. Kontaktinis el. paštas kilus klausimams:
  <a href="mailto:siom.mokykla@gmail.com">siom.mokykla@gmail.com</a>
</p>

<p>
  Registracijos forma: <a href="https://forms.gle/ZKzWMX619d1knYYp8">https://forms.gle/ZKzWMX619d1knYYp8</a>
</p>

-->

<!--
<h3>Šiais metais vyksiančių užsiėmimų informacija</h3>

<ul>
  <li>Užsiėmimai vyksta šeštadieniais</li>
  <li>Užsiėmimų laikas - nuo 11:30 iki 14:00</li>
  <li>Šiemet užsiėmimai vyksta tik vidurinei grupei</li>
  <li>Vidurinės grupės dėstytojai: Aldas Lenkšas, Augustinas Jučas ir Vytautas Strimaitis</li>
</ul>

<h3>Užsiėmimų tvarkaraštis</h3>
<ul>
  <li>Spalio 16</li>
  <li>Spalio 23</li>
  <li>Spalio 30</li>
  <li>Lapkričio 13</li>
  <li>Lapkričio 20</li>
  <li>Lapkričio 27</li>
  <li>Gruodžio 4</li>
  <li>Gruodžio 11</li>
  <li>Gruodžio 18</li>
  <li>Sausio 15</li>
  <li>Sausio 22</li>
  <li><strike>Sausio 29</strike></li>
  <li>Vasario 5</li>
  <li>Vasario 12</li>
  <li>Kovo 5</li>
  <li><strike>Kovo 19</strike></li>
  <li>Balandžio 2</li>
  <li>Balandžio 9</li>
  <li><strike>Balandžio 30</strike></li>
  <li><strike>Gegužės 14</strike></li>
  <li>Gegužės 21</li>
  <li>Gegužės 28</li>
</ul>

<hr />

<h3>Registracija pratęsta!</h3>

<p>
  Registracija į ŠIOM vidurinę grupę pratęsiama iki spalio 14 d. 22:00.
  <b>Šiame registracijos etape gali dalyvauti ir dvyliktokai!</b>
</p>

<p>
  Stojamasis testas šiam srautui vyks <b>spalio 15 d. 16:30</b>.
</p>

<p>Registracijos forma išlieka ta pati: <a href="https://forms.gle/STXvUSFM3qnLhHDy5">https://forms.gle/STXvUSFM3qnLhHDy5</a></p>

<hr />

<h3>ŠIOM pradeda naujus mokslo metus!</h3>

<p>
  Kviečiame registruotis į Vilniaus universiteto Matematikos ir 
  informatikos fakultete organizuojamą Šeštadieninę informatikos 
  olimpiadininkų mokyklą (ŠIOM), kurioje ruošime mokinius informatikos 
  olimpiadoms. 
</p>

<p>
  Užsiėmimai vyks nuotoliniu būdu du kartus per mėnesį šeštadieniais. 
  Vieno užsiėmimo trukmė numatoma iki 2,5 akad. val. Užsiėmimų pradžios 
  laiką derinsime taip, kad jis visiems būtų kuo patogesnis.
</p>

<p>
  Nors vieno užsiėmimo trukmė numatoma 2,5 akad. val., vis dėlto reikia 
  turėti galvoje, kad kiekvienam užsiėmimui iš viso reikia būti 
  pasiruošus skirti ne mažiau 5 valandų. Taip yra todėl, kad reikės 
  laiko spręsti pateiktus uždavinius, kurie padės geriau suprasti 
  išdėstytą medžiagą. Uždavinius spręsti galima bet kokiu patogiu laiku 
  tarp užsiėmimų.
</p>

<p>
  Šiemet registruojame norinčius mokytis tik viduriniojoje grupėje. 
  Kviečiame mokinius iki 11 klasės, tačiau jei bus daug norinčių, 
  prioritetą teiksime 9 ir jaunesnių klasių mokiniams. Kviečiame 
  mokinius, kurie jau turi programavimo pagrindus kuria nors 
  programavimo kalba. Šioje grupėje susipažinsite su algoritmo sąvoka 
  bei svarbiausiais algoritmais, kurie ne tik padės atrasti trumpiausią 
  ieškomą kelią žemėlapyje ar greičiausiai surikiuoti duomenis, bet ir 
  be kurių sėkmingas dalyvavimas informatikos olimpiadose yra neįmanomas. 
  Šioje grupėje programuosime C++ kalba.
</p>

<p>
  Norintys mokytis vidurinėje grupėje turės laikyti stojamąjį testą. 
  Mokymasis yra nemokamas.
</p>

<p>
  Jeigu esate jaunesnis nei 14 metų, tokiu atveju anketą pildykite kartu 
  su vienu iš tėvų/globėjų ir būtinai anketoje nurodykite bent vieno iš 
  tėvų (globėjų) kontaktus.
</p>

<p>
  Registracija vyksta <b>iki spalio 6 d. imtinai</b>. Numatoma, kad stojamasis 
  testas vyks <b>spalio 9 d. 10:00</b>. Kontaktinis el. paštas kilus klausimams: 
  <a href="mailto:siom.mokykla@gmail.com">siom.mokykla@gmail.com</a>
</p>

<p>Registracijos forma: <a href="https://forms.gle/STXvUSFM3qnLhHDy5">https://forms.gle/STXvUSFM3qnLhHDy5</a></p>
-->

<!--
<h3>Svarbi informacija</h3>
<p>
  Įsigaliojus karantinui akivaizdiniai užsiėmimai nevyks.
  Apie užsiėmimų atnaujinimą bus pranešta ŠIOM svetainėje ir el. paštu.
</p>
<p>
  Visų grupių mokiniai gaus informaciją el. paštu iš savo dėstytojų apie
  galimybes dirbti nuotoliniu būdu.
</p>
<hr />

<h3>Šiais metais veikiančių grupių informacija</h3>
<table>
  <thead>
    <tr>
      <th>Grupė</th>
      <th>Užsiėmimų laikas</th>
      <th>Dėstytojai</th>
      <th>Kontaktai</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Pradedančiųjų</td>
      <td>10:00 - 13:00</td>
      <td>Gerda Šimoliūnaitė</td>
      <td>sml.gerda@gmail.com</td>
    </tr>
    <tr>
      <td>Vidurinioji</td>
      <td>11:15 - 16:00</td>
      <td>Vytautas Strimaitis</td>
      <td>vstrimaitis@gmail.com</td>
    </tr>
    <tr>
      <td>Pažengusiųjų</td>
      <td>11:00 - 16:00</td>
      <td>Darius Kurtinaitis</td>
      <td>dariuskrtn@gmail.com</td>
    </tr>
  </tbody>
</table>

<h3>Užsiėmimų tvarkaraštis</h3>
<table>
  <thead>
    <tr>
      <th>Pradedančiųjų</th>
      <th>Vidurinioji</th>
      <th>Pažengusiųjų</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Rugsėjo 28</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Spalio 5</td>
      <td>Spalio 5</td>
      <td>Spalio 5</td>
    </tr>
    <tr>
      <td>Spalio 19</td>
      <td>Spalio 19</td>
      <td>Spalio 19</td>
    </tr>
    <tr>
      <td>Lapkričio 9</td>
      <td>Lapkričio 9</td>
      <td>Lapkričio 9</td>
    </tr>
    <tr>
      <td>Lapkričio 16</td>
      <td>Lapkričio 16</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Lapkričio 23</td>
    </tr>
    <tr>
      <td>Gruodžio 7</td>
      <td>Gruodžio 7</td>
      <td>Gruodžio 7</td>
    </tr>
    <tr>
      <td>Gruodžio 14</td>
      <td>Gruodžio 14</td>
      <td>Gruodžio 14</td>
    </tr>
    <tr>
      <td>Sausio 4</td>
      <td>Sausio 4</td>
      <td>Sausio 4</td>
    </tr>
    <tr>
      <td><strike>Sausio 11</strike></td>
      <td><strike>Sausio 11</strike></td>
      <td><strike>Sausio 11</strike></td>
    </tr>
    <tr>
      <td>Sausio 18</td>
      <td>Sausio 18</td>
      <td>Sausio 18</td>
    </tr>
    <tr>
      <td><strike>Sausio 25</strike></td>
      <td><strike>Sausio 25</strike></td>
      <td><strike>Sausio 25</strike></td>
    </tr>




    <tr>
      <td>Vasario 8</td>
      <td>Vasario 8</td>
      <td></td>
    </tr>
    <tr>
      <td>Vasario 15</td>
      <td>Vasario 15</td>
      <td>Vasario 15</td>
    </tr>
    <tr>
      <td><strike>Vasario 29</strike></td>
      <td><strike>Vasario 29</strike></td>
      <td>Vasario 29</td>
    </tr>
    <tr>
      <td>Kovo 7</td>
      <td>Kovo 7</td>
      <td>Kovo 7</td>
    </tr>
    <tr>
      <td>Kovo 21</td>
      <td>Kovo 21</td>
      <td>Kovo 21</td>
    </tr>
    <tr>
      <td>Balandžio 4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Balandžio 18</td>
      <td>Balandžio 18</td>
    </tr>
    <tr>
      <td>Balandžio 25</td>
      <td>Balandžio 25</td>
      <td>Balandžio 25</td>
    </tr>
    <tr>
      <td>Gegužės 9</td>
      <td>Gegužės 9</td>
      <td>Gegužės 9</td>
    </tr>
    <tr>
      <td>Gegužės 23</td>
      <td>Gegužės 23</td>
      <td>Gegužės 23</td>
    </tr>
    <tr>
      <td></td>
      <td>Gegužės 30</td>
      <td></td>
    </tr>
    <tr>
      <td>Birželio 6</td>
      <td><strike>Birželio 6</strike></td>
      <td>Birželio 6</td>
    </tr>
  </tbody>
</table>
<hr />


<h3>Registracija baigėsi</h3>

<p>
  Visiems užsiregistravusiems į ŠIOM išsiųsti laiškai su tolimesne informacija.
</p>

<p>
  Jeigu registravotės ir laiško negavote, kreipkitės el. paštu: <a
    href="mailto:siom.mokykla@gmail.com">siom.mokykla@gmail.com</a>
</p>

<hr />

<h3>ŠIOM pradeda naujus mokslo metus!</h3>

<p>
  Kviečiame registruotis į Vilniaus universiteto Matematikos ir
  informatikos fakultete organizuojamą Šeštadieninę informatikos
  olimpiadininkų mokyklą (ŠIOM), kurioje ruošime mokinius
  informatikos olimpiadoms.
</p>

<p>
  Užsiėmimai vyks Vilniuje, Vilniaus universiteto Matematikos ir
  informatikos fakulteto kompiuterių klasėse (Šaltinių g.) du
  kartus per mėnesį šeštadieniais po 3,5-5 akad. val. Užsiėmimų
  pradžios laiką derinsime taip, kad galėtų atvykti mokiniai iš
  kitų miestų. Praėjusiais mokslo metais užsiėmimai prasidėjo
  11 val. 15 min.
</p>

<p>
  Registruojame norinčius mokytis trijų skirtingų lygių grupėse:

  <ul>
    <li>
      Pradedančiųjų grupė: kviečiame 5-8 klasių mokinius,
      kurie domisi įdomių matematikos-informatikos,
      loginių uždavinių sprendimu, dalyvauja matematikos
      olimpiadose, Bebro konkurse ir mano, kad būtų labai
      įdomu išmokti suprogramuoti uždavinio sprendimą.
      <br />
      Šioje grupėje mokysimės programavimo pagrindų C++ kalba.
      Užsiėmimų trukmė - 3,5 akad. val.
    </li>
    <li>
      Vidurinioji grupė: kviečiame mokinius iki 11 klasės,
      tačiau jei bus daug norinčių, prioritetą teiksime 9
      ir jaunesnių klasių mokiniams. Kviečiame mokinius,
      kurie jau turi programavimo pagrindus kuria nors
      programavimo kalba. Šioje grupėje susipažinsite su
      algoritmo sąvoka bei svarbiausiais algoritmais, kurie
      ne tik padės atrasti trumpiausią ieškomą kelią žemėlapyje
      ar greičiausiai surikiuoti duomenis, bet ir be kurių sėkmingas
      dalyvavimas informatikos olimpiadose yra neįmanomas.
      <br />
      Šioje grupėje programuosime C++ kalba. Užsiėmimų trukmė - 5 akad val.
    </li>
    <li>
      Pažengusioji grupė: kviečiame bet kurių klasių mokinius,
      kurie turi gerus programavimo ir algoritmavimo pagrindus
      ir turi ambicijų sėkmingai pasirodyti ne tik Lietuvos,
      bet ir tarptautinėse informatikos olimpiadose.
      <br />
      Norintys pakliūti į šią grupę turite įtikinti, kad galėsite
      sėkmingai mokytis šioje grupėje, t.y. esate susipažinę su
      klasikiniais olimpiadose naudojamais algoritmais, pavyzdžiui
      dalyvavote LMIO finale, Codeforces varžybose ir pan.
      Programuosime C++ kalba. Užsiėmimų trukmė - 5 akad val.
    </li>
  </ul>
</p>

<p>
  Jeigu bus daugiau norinčiųjų mokytis pradedančiųjų grupėje,
  nei galėsime priimti – į šią grupę atrinksime pagal anketas.
  Norintys mokytis vidurinėje arba pažengusiųjų grupėje turės
  laikyti stojamąjį testą.
</p>

<p>
  Mokymasis visose grupėse yra nemokamas.
</p>

<p>
  Kviečiame prisijungti ne tik vilniečius, bet ir kitų miestų
  mokinius. Praėjusiais mokslo metais gavome rėmėjų paramą ir
  turėjome galimybę kompensuoti keliones į ŠIOM užsiėmimus
  visiems ne vilniečiams, pateikusiems kelionės bilietus.
  Šiais mokslo metais taip pat ieškosime galimybių ir tikimės,
  kad galėsime kompensuoti didesnę dalį kelionės į ŠIOM išlaidų.
</p>

<p>
  Jeigu registruojatės į pradedančiųjų grupę arba esate jaunesnis
  nei 14 metų, tokiu atveju anketą pildykite kartu su vienu iš
  tėvų/globėjų ir būtinai anketoje nurodykite bent vieno iš tėvų
  (globėjų) kontaktus.
</p>

<p>
  Registracija vyksta iki rugsėjo 18 d. imtinai. Numatoma, kad
  stojamasis testas į viduriniąją ir pažengusiųjų grupes vyks
  rugsėjo 28 d. Kontaktinis el. paštas kilus klausimams:
  <a href="mailto:siom.mokykla@gmail.com">siom.mokykla@gmail.com</a>
</p>

<p>Registracijos forma: <a href="https://bit.ly/2lIhLZq">https://bit.ly/2lIhLZq</a></p>
-->

<!--
<p>Yra galimybė ŠIOM mokiniams, važinėjusiems į užsiėmimus iš kitų miestų, kompensuoti dalį kelionės išlaidų.
Išsami informacija apie kelionės kompensavimą išsiųsta ŠIOM mokiniams ne Vilniečiams el. paštu.</p>

<p>Prašymai dėl kelionės kompensavimo laukiami iki birželio 12 d. imtinai kontaktiniu el. paštu:
siom.mokykla@gmail.com</p>
<hr />

<h3>Nauji ŠIOM mokslo metai</h3>

<p>
Mieli mokiniai ir mokytojai! 
Jau antrus metus Vilniaus universiteto Matematikos ir informatikos fakultete veiks atsikūrusi Šeštadieninė informatikos olimpiadininkų mokykla.<br>
<br>
Šiais metais veikiančių grupių informacija:
<table>
  <thead>
    <tr>
      <th>Grupė</th>
      <th>Užsiėmimų laikas</th>
      <th>Dėstytojai</th>
      <th>Kontaktai</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Pradedančiųjų</td>
      <td>11:15 - 14:45</td>
      <td>Gerda Šimoliūnaitė, Margiris Strakšys</td>
      <td>sml.gerda@gmail.com, margirisstr@gmail.com</td>
    </tr>
    <tr>
      <td>Vidurinioji</td>
      <td>11:15 - 16:00</td>
      <td>Vytautas Strimaitis</td>
      <td>vstrimaitis@gmail.com</td>
    </tr>
    <tr>
      <td>Pažengusiųjų</td>
      <td>11:15 - 16:00</td>
      <td>Domantas Jadenkus, Darius Kurtinaitis</td>
      <td>djadenkus@gmail.com, dariuskrtn@gmail.com</td>
    </tr>
  </tbody>
</table>
</p>
<h3>Užsiėmimų tvarkaraštis</h3>
<table>
<thead>
	<tr>
		<th>Pradedančiųjų</th>
		<th>Vidurinioji</th>
		<th>Pažengusiųjų</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td></td>
		<td>Spalio 13</td>
		<td>Spalio 13</td>
	</tr>
    <tr>
        <td>Spalio 27</td>
        <td>Spalio 27</td>
        <td>Spalio 27</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Lapkričio 3</td>
    </tr>
    <tr>
        <td>Lapkričio 17</td>
        <td>Lapkričio 17</td>
        <td>Lapkričio 17</td>
    </tr>
    <tr>
        <td>Lapkričio 24</td>
        <td>Lapkričio 24</td>
        <td></td>
    </tr>
    <tr>
        <td><strike>Gruodžio 1</strike></td>
        <td><strike>Gruodžio 1<strike></td>
        <td>Gruodžio 1</td>
    </tr>
    <tr>
        <td>Gruodžio 8</td>
        <td>Gruodžio 8</td>
        <td></td>
    </tr>
    <tr>
        <td>Gruodžio 15</td>
        <td>Gruodžio 15</td>
        <td>Gruodžio 15</td>
    </tr>
    <tr>
        <td>Sausio 12</td>
        <td>Sausio 12</td>
        <td>Sausio 12</td>
    </tr>
    <tr>
        <td>Sausio 19</td>
        <td>Sausio 19</td>
        <td></td>
    </tr>
    <tr>
        <td><strike>Sausio 26</strike></td>
        <td><strike>Sausio 26</strike></td>
        <td>Sausio 26</td>
    </tr>
	<tr>
		<td>Vasario 9</td>
		<td>Vasario 9</td>
		<td>Vasario 9</td>
	</tr>
	<tr>
		<td>Vasario 23</td>
		<td>Vasario 23</td>
		<td>Vasario 23</td>
	</tr>
	<tr>
		<td>Kovo 2</td>
		<td><strike>Kovo 2</strike></td>
		<td></td>
	</tr>
	<tr>
		<td><strike>Kovo 9</strike></td>
		<td><strike>Kovo 9</strike></td>
		<td>Kovo 9</td>
	</tr>
	<tr>
		<td>Kovo 23</td>
		<td>Kovo 23</td>
		<td>Kovo 23</td>
	</tr>
	<tr>
		<td>Balandžio 6</td>
		<td>Balandžio 6</td>
		<td>Balandžio 6</td>
	</tr>
	<tr>
		<td>Balandžio 13</td>
		<td>Balandžio 13</td>
		<td>Balandžio 13</td>
	</tr>
	<tr>
		<td>Balandžio 27</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Gegužės 4</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td>Gegužės 11</td>
		<td>Gegužės 11</td>
	</tr>
	<tr>
		<td></td>
		<td>Gegužės 18</td>
		<td></td>
	</tr>
	<tr>
    <td></td>
		<td><strike>Gegužės 25</strike></td>
		<td><strike>Gegužės 25</strike></td>
	</tr>
	<tr>
		<td></td>
		<td>Birželio 1</td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td>Birželio 8</td>
		<td>Birželio 8</td>
	</tr>
</tbody>
</table>
-->

{% endblock %}
