{# encoding: utf-8 #}

{% extends "course_base.html" %}

{% load siomext stylize %}

{% block title %}ŠIOM &mdash; submission {{ submission.id }}{% endblock %}

{% block content %}
<ul class="submissions">
	{% for sub in all_submissions %}<li>
		<a href="{% url siom.views.submission course.code sub.id %}"{% if sub == submission %} class="active"{% endif %}>
			[{{ forloop.counter }}]
			{{ sub.submitted|date:"Y-m-d H:i" }}</a>
		({{ sub.score|multiply:100|floatformat|default:"?" }})
	</li>{% endfor %}
</ul>
{% if submission.verdict == None %}
	<p>Laukiam</p>
{% else %}
	<p>Taškai: {{ submission.score|multiply:100|floatformat }}</p>
	{{ submission.message|safe }}
{% endif %}
{% if show_source %}
	<hr>
	{% stylize submission.language %}{{ submission.code|safe }}{% endstylize %}
{% endif %}
{% endblock %}
